<div class="container-md">
  <h1 class="text-center fs-1">Post edit</h1>
  <%= form_for(@post) do |form| %>
    <div class="form-group">
      <%= form.label :text %>
      <%= form.text_field :text, class:'form-control' %>
    </div>
    <%= submit_tag "Update", class: 'btn btn-primary' %>
  <% end %>
</div>